<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <!--    Обращаемся к Thymeleaf, обращаемся к свойству text. Выводим значение параметра title. В теге title будет выводиться то значение, которое мы передаем из контроллера-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>

<header th:insert="blocks/header :: header"> </header>


<div class="container mt-5">
<!--    Отступ-->
<h1 th:text="${title}"> </h1>
<!--    Текст, возвращаемый из контроллера-->
</div>


<div th:insert="blocks/footer :: footer"> </div>

</body>