<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <!--Сюда никакой пареметр не передаем-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header">

</header>
<!--Вставляем фрагмент кода. Метод - insert, путь - blocks/header, название фрагмента - header-->

<div class="container mt-5">
    <!--container - встроенный класс в Бутстрапе. Он просто добавит кое-какие дополнительные отступы для всего этого блока, которые нам потребуются
    mt-5 - отступ сверху равный 50 px, чтобы этот блок не прилегал к шапке-->
    <h1>Блог сайта</h1>

    <!--Здесь будет код, который будет перебирать полученный массив через цикл. Еще прописываем класс от bootstrap, чтобы все красиво выглядело-->
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <!--    Сначала создали переменную el, потом говорим что именно мы через нее перебираем. Внутри тега мы можем работать с переменно element (кратко записали как el) -->
        <h3 th:text="${el.title}"></h3>
        <!--    Здесь мы можем обратиться через точку к определенному полю, которое находится по сути внутри этой модели -->
        <p th:text="${el.anons}"></p>
        <a th:href="'/blog/' + ${el.id}" class="btm  btn-warning">Детальнее</a>
        <!--    Детальнее - это текст ссылки. Сама ссылка будет формироваться из слова blog + / + конкретный id поста блога. Тут мы сможем перейти на суму запись по этой ссылке  -->
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>