<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
<!--        Перебираем объект post, который пришел из контроллера-->
        <h1 th:text="${el.title}"></h1>
        <p th:text="${el.full_text}"></p>
        <p><b>Проcмотры: </b><span th:text="${el.views}"/></p>
<!--        b - жирный текст-->
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
<!--     class="btn btn-warning" делает текст внутри тега в виде кнопки   -->

        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post"><br>
<!--            Данные будут отправляться при помощи метода post-->
            <button class="btn btn-warning" type="submit">Удалить</button>
<!--            button - кнопка, type="submit" - чтобы после нажатия на эту кнопку страница перегружалась и данные отправлялись на сервер--->
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>