
<div th:fragment="header">
  <!--Здесь нужно указать, что кусочек кода является фрагметом. В таком случаем мы сможем встроить этот фрагмент внутрь других HTML-файлов-->

  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Blog</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про нас</a>
    </nav>
  </div>
  <!--Скопированный из Bootstrap код-->

</div>